
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/cache/
/var/log/
/var/upload/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

/frontend/node_modules/
/frontend/build/
.idea
