.interact-element
  height: 32px

.transparent
  background-color: transparent
  border: 0

.top-line--flamingo
  &::before
    background-color: $flamingo
    content: ''
    top: 0
    left: 0
    height: 5px
    position: fixed
    width: 100vw

.blured
  filter: blur(11px)

.button.group-button-last
  padding-left: 0

.bg-theme--white-orange
  background-color: $snow
  color: $flamingo
  opacity: 1
