.interact-element
  height: 32px

.transparent
  background-color: transparent
  border: 0

.top-line--flamingo
  position: relative

  &::before
    background-color: $flamingo
    content: ''
    top: 0
    left: 0
    height: 5px
    position: absolute
    width: 100%

.blured
  filter: blur(11px)

.button.group-button-last
  padding-left: 0  
