.interact-element
  height: 32px

.transparent
  background-color: transparent
  border: 0

$top-line
  &::before
    content: ''
    top: 0
    left: 0
    height: 5px
    position: fixed
    width: 100vw

for color in flamingo masala
  .top-line--{color}
    @extend $top-line
    &::before
      background-color: $ + color

.blured
  filter: blur(11px)

.button.group-button-last
  padding-left: 0

.validation-error
    border: 1px solid red
