@require '../_variables'
@require '../modificators/_mixes.styl'

.button-theme
    &--snow, &--orange
        &:hover
            opacity: .8

    &--orange
        background-color: $blaze-orange

    themes = {
        twitter: $twitter,
        vk: $vk,
        sky: $sky,
        masala: $masala
    }
    for theme, color in themes
        &--{theme}
            background-color: color

            &:hover
                background-color: darken(color , 10)


.button--disabled
  opacity: .5
  &:hover
    opacity: .5


.bg-theme
    &--white-orange
        background-color: $snow
        color: $flamingo
        opacity: 1

    &--black-n-white
        background-color: black
        color: $snow

    &--gallery
        background-color: $gallery

    &--gallery-dark
        background-color: darken($gallery, 5)

    &--snow
        background-color: $snow


.border-theme--gallery
    border: 1px solid $gallery


.text-color
    &--gray
        color: $gray

    &--blaze-orange
        color: $blaze-orange

    &--flamingo
        color: $flamingo


.text-size
    &--upper-medium
        font-size: 18px
        line-height: 1.16


.overlay--visible
    height: 100vh
    width: 100vw


.modal-mode__title--option
    font-size: 17px
    @extend $like-link-tmpl

.form-input--forgot-pwd
    position: relative

    .forgot-link
        position: absolute
        right: 5px
        top: -20px
