@require '../_variables'

.button-theme--snow
  border: 1px solid black
  background-color: $snow

  &:hover
    opacity: .8


.button-theme--orange
  border: 0
  color: $snow
  background-color: $blaze-orange

  &:hover
    opacity: .8


.bg-theme--gallery
    background-color: $gallery
