@require '../_variables.styl'

.icon
    &.svg-inline--fa.fa-w-14
        width: auto
        height: auto

    &.text-color--blaze-orange
        &:hover
            color: lighten($blaze-orange, 10)

