{% extends "content.twig" %}
{% block content %}
    {{ lel }}
    <form action="{{ path('news_add') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="" />

        <label for=mem>Password:</label>
        <input type="text" id="mem" name="mem" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>
{% endblock %}
