@require '_variables'
@require 'fonts'

html, body
  height: 100%

body
  background-color: $snow
  margin: 0
  padding: 0
  color: $masala
  min-height: 100%
  font-family: RobotoCondensed
  //размер общий должен быть 1152, но на body вещать нельзя, ибо полоска сверху уменьшается

ul
  list-style-type: none
