centered($position-val = absolute)
  bottom: 0
  left: 0
  margin: auto
  position: $position-val
  right: 0
  top: 0

size(width, height=width)
  width width
  height height

cross(color = #000)
  position relative
  &::before
  &::after
  	content ''
  	background color
  	height 2px
  	width 25px
  	margin 0 auto
  	position absolute
  	left 0
  	top 50%
  	display block
  &::before
  	transform translateY(-50%) rotate(-45deg)
  &::after
  	transform translateY(-50%) rotate(45deg)


pseudo(type=after)
    position: relative
    &::{type}
        content: ''
        position: absolute
        top: 0
        left: 0
