// Colors
$masala = #45413F
$chicago-transp = rgba(92, 89, 87, .1)
$snow = #fff
$blaze-orange = #ff6400
$gallery = #EDEDED
$gallery-dark = darken($gallery, 5)
$flamingo = #EC5A24
$silver = #BDBDBD
$gray = #8E8E8E
$pinky = #F1D2BE
$link = #0059b2
$sky = #4e7ac2
$vk = #4a76a8
$twitter = #1da1f2
$mine-shaft-transparent = rgba(50, 50, 50, 0.75)

