// Colors
$masala = #45413F
$snow = #fff
$blaze-orange = #ff6400
$gallery = #EDEDED
$gallery-dark = darken($gallery, 5)
$flamingo = #EC5A24
$silver = #BDBDBD
$gray = #8E8E8E
$pinky = #F1D2BE
$mine-shaft-transparent = rgba(50, 50, 50, 0.75)

