@font-face
  font-family Roboto
  font-style normal
  font-weight 400

  src s("url('../assets/fonts/%s%s.ttf'))", Roboto, 400)

@font-face
  font-family RobotoCondensed
  font-style normal
  font-weight 400
  src s("url('../assets/fonts/%s%s.ttf'))", RobotoCondensed, 400)
