<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Coonsole - продажа и покупка консольных игр</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        {% block stylesheets %}{% endblock %}
        {% block meta %}
            <meta name="keywords" content="{% if meta is defined %}{{ meta }}{% endif %}" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" defer="defer" src="bundle.js"></script>
            <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
        {% block login %}
        {% endblock %}
    </body>
</html>
