{% extends "content.twig" %}
{% block content %}
    {% if items is defined %}
        {% set json_items = items|json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
        <div id="app" class="h100">
            <App items_group_count="{{ pages }}"
                items="{{ json_items }}">
            </App>
        </div>
    {% endif %}
{% endblock %}
