{% extends "content.twig" %}
{% block content %}
    {% if post is defined %}
        {% block post %}
            <li><a href="/items/{{ post.link }}">{{ post.name }}</a><br> {{ post.description }}</li>

            {% for photo in post.photos %}
                <img src="{{ photo }}" width="200px" height="200px">
            {% endfor %}
        {% endblock %}
    {% endif %}
{% endblock %}
