for font in Roboto RobotoCondensed RobotoRegular
  @font-face
    font-family: font
    font-style: normal
    font-weight: 400
    src: s("url('../assets/fonts/%s%s.ttf'))", font, 400)

body
  font-family: RobotoCondensed

h3
  font-family: RobotoRegular
  font-size: 19px
  line-height: 1.16
